#root > div > nav > div:nth-child(2) > div > form > * {
  margin: 2px;
}

#root > div > nav > div:nth-child(1) > button {
  margin: 2px;
  width: max-content;
}

.exampleInputEmail1 {
  width: calc(90vw - 200px);
}

.yeniEkle {
  background-color: rgba(31, 27, 253, 0.938);
}
.linked {
  text-decoration: none;
  color: black;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.disabled-link {
  pointer-events: none;
}

* {
  font-family: "Roboto", sans-serif;
}

.logo *{
width: 150px;
height: 96.82px;

}

.navbar{
display: flex;
}
.navbar *{
margin: 1px;}

.login{
width: 150px;

}

.Apply{
display: flex;
justify-content: space-between;
margin: 10px;
height: 96.82px;} 

body{
  background-color: rgba(43, 241, 255, 0.096);
}

.anaBaşlık{
  margin: auto;
  text-align: center;
  font-weight: bolder;
  width: fit-content;
  border-radius: 15px;
  padding: 5px;
  border: 1px solid transparent;
  background-color: rgba(0, 153, 255, 0.295);
}

.listemm:hover {
  transform: scale(7); 
}